.breadcrumb {
  padding-top: 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.previous-item {
  @apply flex items-center text-sm text-gray-600 font-medium hover:text-gray-900  focus:outline-none focus:text-gray-900;
}

.active-item {
  @apply inline-flex items-center text-sm font-extrabold text-red-600;
}
