.thumb {
  border: 1px black solid;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.publication-title,
.release-date {
  text-align: center;
}

.publication-title {
  margin-top: 10px;
}

.release-date {
  margin-bottom: 15px;
  color: rgb(100, 100, 100);
}
