#error-page {
    height: 100vh;
  
    padding: 0 40px;
  
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.not-found-image {
    width: 100%;
    max-width: 400px;
}

.message {
    position: absolute;

    margin-top: 30px;
    padding: 5px;

    font-weight: bold;
    color: #fff;
    background-color: #d32f2f;
}